#home {
  display: flex;
  flex-direction: row;
  height: 100vh;
  #calendar {
    height: calc(100vh - 16px);
    width: 90%;
    display: flex;
    flex-direction: column;

    padding: 8px;
    gap: 20px;
    .day {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .name {
        height: 30%;
        font-size: 1.4em;
      }

      .parts {
        height: 70%;
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 100%;
        .case {
          flex: 1 1 0;

          display: flex;
          justify-content: center;
          align-items: center;

          background-color: rgba(128, 128, 128, 0.215);
          text-align: center;
          &.taking {
            background-color: greenyellow;
          }
        }
      }
    }

    .open {
      position: absolute;
      bottom: 5px;
      right: 5px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

      border-radius: 50%;
      width: 25px;
      height: 25px;
      border: unset;
      transition: 0.2s;

      cursor: pointer;
      &:hover {
        background-color: red;
      }
    }
  }

  .take {
    width: 10%;
    font-size: 1.5rem;
    writing-mode: vertical-lr;
    text-orientation: upright;
  }
}
